<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.umzzi.srim</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>/Users/umzzi/dev/PycharmProjects/pystocklib/examples/S-RIM/exec_srim_cron.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <array>
        <dict><key>Weekday</key><integer>1</integer><key>Hour</key><integer>18</integer><key>Minute</key><integer>0</integer></dict>
        <dict><key>Weekday</key><integer>2</integer><key>Hour</key><integer>18</integer><key>Minute</key><integer>0</integer></dict>
        <dict><key>Weekday</key><integer>3</integer><key>Hour</key><integer>18</integer><key>Minute</key><integer>0</integer></dict>
        <dict><key>Weekday</key><integer>4</integer><key>Hour</key><integer>18</integer><key>Minute</key><integer>0</integer></dict>
        <dict><key>Weekday</key><integer>5</integer><key>Hour</key><integer>18</integer><key>Minute</key><integer>0</integer></dict>
    </array>

    <key>StandardOutPath</key>
    <string>/Users/umzzi/dev/PycharmProjects/pystocklib/examples/S-RIM/logs/launchd_srim.out</string>
    <key>StandardErrorPath</key>
    <string>/Users/umzzi/dev/PycharmProjects/pystocklib/examples/S-RIM/logs/launchd_srim.err</string>

    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
